{% extends 'base.html' %} {% load static %} {% block content_container %} {% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/itemRegs.css' %}">

    <!-- Page Heading -->
    <title>User Profile</title>
</head>
<h1 class="h3 mb-0 text-gray-800">Edit User</h1><br>


        <form method="POST" enctype="multipart/form-data">
            {% if user.is_superuser %}
            <a href="{% url 'userlist' %}" class="btn btn-secondary">Back</a>
            {% endif %}
            {% csrf_token %}
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                  <h5 class="font-weight-bold text-primary">Basic Information</h5>
                  <div class="row">
                    {% for field in form %}
                      <div class="col-md-6">
                        {% if field.name == 'username' %}
                            <label for="id_{{field.name}}"></label>
                            <div>
                                {{field|as_crispy_field}}
                            </div>
                        {% endif %}
                        {% if field.name == 'dob' %}
                            <label for="id_{{field.name}}"></label>
                            <div>
                                {{field|as_crispy_field}}
                            </div>
                        {% endif %}
                        {% if field.name == 'name' %}
                            <label for="id_{{field.name}}"></label>
                            <div>
                                {{field|as_crispy_field}}
                        </div>
                        {% endif %}
                        {% if field.name == 'email' %}
                            <label for="id_{{field.name}}"></label>
                            <div>
                                {{field|as_crispy_field}}
                            </div>
                        {% endif %}
                        {% if field.name == 'contact_number' %}
                            <label for="id_{{field.name}}"></label>
                            <div>
                                {{field|as_crispy_field}}
                            </div>
                        {% endif %}
                        {% if field.name == 'employee_num' %}
                            <label for="id_{{field.name}}"></label>
                            <div>
                                {{field|as_crispy_field}}
                            </div>
                        {% endif %}
                        {% if field.name == 'password1' %}
                            <label for="id_{{field.name}}"></label>
                            <div>
                                {{field|as_crispy_field}}
                            </div>
                        {% endif %}
                        {% if field.name == 'password2' %}
                            <label for="id_{{field.name}}"></label>
                            <div>
                                {{field|as_crispy_field}}
                            </div>
                        {% endif %}
                        {% if field.name == 'farm_code' %}
                            <label for="id_{{field.name}}">Farm Code</label>
                            <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"></button>
                              <button type="button" class="btn" data-placement="bottom" rel="tooltip" title="If you don't see any farm code. Please register a farm first before creating a user" data-toggle="modal" data-target="#myModal">
                                <i class="fas fa-info"></i>
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <div><a class="dropdown-item">{{field|as_crispy_field}}</a></div>
                              </div>
                            </div>
                        {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                  <button type="button" id="next-tab-info" class="btn btn-secondary">Submit</button>
                </div>
              </div>
        </form>
    

{% endblock %}

{% block  javascript %}
<script>

</script>
{% endblock %}