{% extends 'base.html' %}
{% load static %}
{% block content_container %}



<section class="py-5 text-center container-fluid">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Welcome to Restaurant Analytics</h1>
            <p class="lead text-muted" style="text-align: justify">
                Find restaurant insights, or contribute restaurant data for others. This website's 
                sole purpose is to provide more information for Restaurant Owners, Researchers or Business Startups.
            </p>
            <p>
              <a href="{% url 'dashboard_view' %}" class="btn btn-primary my-2">Dashboard</a>
              <a href="{% url 'add_data' %}" class="btn btn-secondary my-2">Contribute</a>
            </p>
          </div>
    </div>
</section>

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Total Users</h3>
          <p class="card-text">{{user_count}} Users</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Total Restaurants</h3>
          <p class="card-text">{{rest_count}} Restaurants</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Total Ratings</h3>
          <p class="card-text">1700 Ratings</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Total Insights</h3>
          <p class="card-text">100 Insights</p>
        </div>
      </div>
    </div>
  </div>


{% endblock%}


