{% extends 'base.html' %}
{% load crispy_forms_tags %} {% block content_container %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>User Management</title>
  <style>
    .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
  </style>
</head>

<body>
  <h1 class="h3 mb-0 text-gray-800">User Management</h1>
  <br>
  <div class="card shadow mb-4">
    <div class="card-body">

      <div class="table-responsive">
        <table class="table align-items-center mb-0" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th class="text-center text-uppercase text-secondary text-mb font-weight-bolder opacity-15">Username</th>
              <th class="text-center text-uppercase text-secondary text-mb font-weight-bolder opacity-15">Name</th>
              <th class="text-center text-uppercase text-secondary text-mb font-weight-bolder opacity-15">Email</th>
              <th class="text-center text-uppercase text-secondary text-mb font-weight-bolder opacity-15">Contact no.</th>
              <th class="text-center text-uppercase text-secondary text-mb font-weight-bolder opacity-15">Action</th>
              
            </tr>
          </thead>
          <tbody>
            {% for User in object_list %}
            <tr>
              <td class="align-middle text-center text-m">{{ User.username }}</td>
              <td class="align-middle text-center text-m">{{ User.name }}</td>
              <td class="align-middle text-center text-m">{{ User.email }}</td>
              <td class="align-middle text-center text-m">{{ User.contact_number }}</td>
              <td class="align-middle text-center text-m"><a href="{% url 'viewUser' User.account_id %}" class="badge badge-sm outline-blue">View</a>
                <a href="{% url 'editUser' User.account_id %}" class="badge badge-sm outline-blue">Edit</a>
                <a href="{% url 'deleteUser' User.account_id %}" class="badge badge-sm outline-danger">Delete</a></td>
           
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script>
    var table = $('#dataTable').DataTable({
      language: {
        oPaginate: {
          sNext: '<i class="fa fa-angle-right"></i>',
          sPrevious: '<i class="fa fa-angle-left"></i>',
        }
      }
    })
  </script>
  {% endblock content_container %}
  {% block javascript %}
  {% endblock %}