{% load static %}
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static '/img/apple-icon.png' %}" />
    <link rel="icon" type="image/png" href="{% static '/img/ra_logo.png' %}" />
    <title>Restaurant Analytics</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">
    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> {% endcomment %}
    <!--     Fonts and icons     -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>  
    <script src="{% static '/js/popper.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="{% static '/css/nucleo-icons.css' %}" rel="stylesheet" />
    <link href="{% static '/css/nucleo-svg.css' %}" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js" integrity="sha512-yFjZbTYRCJodnuyGlsKamNE/LlEaEAxSUDe5+u61mV8zzqJVFOH7TnULE2/PP/l5vKWpUNnF4VGVkXh3MjgLsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="{% static '/css/nucleo-svg.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link id="pagestyle" href="{% static '/css/soft-ui-dashboard.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/badge-outline.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    <!--Data Table-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <!-- DateTime -->
    <script src="{% static '/js/dataTables.dateTime.min.js' %}"></script>
    <script src="{% static '/js/moment.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/dataTables.dateTime.min.css' %}">
</head>

{% include 'loader.html' %}
<body class="g-sidenav-show content bg-gray-100 p-0" style="overflow-y: hidden;">
    <div id="wrapper" class="d-none h-100">
        <div class="" style="position: sticky; z-index: 2000; background-color: #21325E; color: white;">
            {% include 'sidebar.html' %}
        </div>
        <main id="content-wrapper" class="main-content d-flex flex-column position-relative max-height-vh-100 h-100" style="background: #f2f0f0;">
            
            <div id="content">
                <!---here is content-->
                {% include 'header.html' %}
                <div class="container-fluid py-4 pb-6">
                    {% block content_container %}
                    {% endblock %}
                    {% include 'footer.html' %}
                </div>
            </div>
        </main>
        {% block javascript %} 
        {% endblock %}
    </div>
</body>
</body>
<script>
    $("#myDiv").fadeOut(5000);

    const loader = document.querySelector('.loader');
    const wrapper = document.querySelector('#wrapper');

    $.ajax({
                type: 'GET',
                url: window.location.pathname,
                success: async (res) => {
                    if(res) {
                        loader.classList.add('d-none');
                        wrapper.classList.remove('d-none');
                    };
                },
                error : async (err) => {
                    console.log(err);
                }
    })
</script>
</html>