      <footer class="footer pb-3 fixed-bottom" >
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted">
                © <script>
                  document.write(new Date().getFullYear())
                </script>,
                <a class="font-weight-bold" target="_blank">Restaurant Analytics</a>
                
              </div>
            </div>
          </div>
        </div>
      </footer>