{% extends 'base.html' %}
{% load static %}
{% block content_container %}


<div class="container-fluid">
    <section class="py-5 text-center">
        <iframe title="Dashboard" width="50%" height="80%" 
        src="https://app.powerbi.com/reportEmbed?reportId=6995b3d7-2c3c-4296-8c98-e3bd9f59a591&autoAuth=true&ctid=5ab05ba8-9558-4317-a6b3-b812f9f847cd&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWVhc3QtYXNpYS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" 
        frameborder="" allowFullScreen="true"></iframe>
    </section>
</div>


{% endblock%}
